[submodule "duo-examples"]
	path = duo-examples
	url = https://github.com/milkv-duo/duo-examples.git
[submodule "duo-buildroot-sdk"]
	path = duo-buildroot-sdk
	url = https://github.com/milkv-duo/duo-buildroot-sdk.git
